<jsp:include page="/components/top.jsp">
    <jsp:param name="pageName" value="Customers"/>
</jsp:include>
<div class="row full-height overflow-auto">
    <input type="hidden" id="user-id" value=<%= session.getAttribute("userId") %> >
    <jsp:include page="/components/side-nav.html" />
    <div class="col-10 p-4">
        <div class="d-flex">
            <h3 class="f-700">Customers</h3>
            <button class="btn btn-primary ms-auto px-3" data-bs-toggle="modal" data-bs-target="#exampleModal">New</button>
        </div>
        <table class="table table-hover mt-2">
            <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Contact</th>
                  <th scope="col">Address</th>
                  <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="customers-table" class="data-table">
            </tbody>          
        </table>
        <jsp:include page="/components/new-customer-modal.html" />
        <jsp:include page="/components/edit-customer-modal.html" />
        <jsp:include page="/components/delete-customer-modal.html" />
    </div>
</div>
<script src="static/customers.js"></script>
<jsp:include page="/components/down.html" />
