<jsp:include page="/components/top.jsp">
    <jsp:param name="pageName" value="Invoices"/>
</jsp:include>
<div class="row full-height overflow-auto">
    <input type="hidden" id="user-id" value=<%= session.getAttribute("userId") %> >
    <jsp:include page="/components/side-nav.html" />
    <div class="col-10 p-4">
        <div class="d-flex">
            <h3 class="f-700">Invoices</h3>
            <button id="new-invoice-page-btn" class="btn btn-primary ms-auto px-3">New</button>
        </div>
        <table class="table table-hover mt-2">
            <thead>
                <tr>
                  <th>Date</th>
                  <th>Invoice#</th>
                  <th>Customer</th>
                  <th>Status</th>
                  <th>Due date</th>
                  <th>Amount</th>
                  <th>Balance Due</th>
                  <th>Actions</th>
                </tr>
            </thead>
            <tbody id="invoices-table" class="data-table">
            </tbody>          
        </table>
        <jsp:include page="/components/record-payment-modal.html" />
        <jsp:include page="/components/delete-invoice-modal.html" />
    </div>
</div>
<script src="static/invoices.js"></script>
<jsp:include page="/components/down.html" />