<jsp:include page="/components/top.jsp">
    <jsp:param name="pageName" value="Invoice"/>
</jsp:include>
<div class="p-5">
    <div class="border pb-5">
        <div class="d-flex border-bottom align-items-center px-3 py-2">
            <div>
                <h3 id="company-name" class="f-600"></h3>
                <p id="company-address" class="mb-0"></p>
            </div>
            <h1 class="ms-auto mb-0">COMMERCIAL INVOICE</h1>
        </div>
        <div class="row border-bottom py-2">
            <div class="col-6 row border-end p-0">
                <div class="col-6 text-secondary">
                    <p>#</p>
                    <p>Invoice Date</p>
                    <p>Terms</p>
                    <p class="mb-0">Due Date</p>
                </div>
                <div class="col-6 f-500">
                    <p id="id"></p>
                    <p id="invoice-date"></p>
                    <p>:Custom</p>
                    <p id="due-date" class="mb-0"></p>
                </div>
            </div>
        </div>
        <div class="bg-lgray border-bottom px-3 py-2">
            <p class="f-500 mb-0">Bill To</p>
        </div>
        <div class="px-3 py-2">
            <h4 id="customer-name" class="f-600"></h4>
            <p id="customer-address" class="mb-0"></p>
        </div>
        <table class="table table-bordered mb-0">
            <thead class="bg-lgray">
                <th class="col-1">#</th>
                <th class="col-4">Item</th>
                <th class="col-2">Qty</th>
                <th class="col-2">Rate</th>
                <th class="col-2">Discount</th>
                <th class="col-2">Amount</th>
            </thead>
            <tbody id="invoiced-products-table">
            </tbody>
        </table>
        <div class="row mb-5">
            <div class="col-7 px-3 py-2">
                <br>
                <p>Total In Words<br><i id="total-in-words" class="f-500"></i></p>
                <br>
                <p class="text-secondary mb-0">Notes</p>
                <p id="notes"></p>
                <br>
                <p class="text-secondary mb-0">Terms & Conditions</p>
                <p id="terms-and-conditions"></p>
            </div>
            <div class="col-5 row px-3 py-2 border-start border-bottom text-end">
                <div class="col-7 p-0">
                    <p>Sub Total</p>
                    <p>Adjustments</p>
                    <p>Shipping charges</p>
                    <p class="f-500">Total</p>
                    <h4 class="f-500">Balance Due</h4>
                </div>
                <div class="col-5 p-0">
                    <p id="sub-total">&#8377;</p>
                    <p id="adjustments">&#8377;</p>
                    <p id="shipping-charges">&#8377;</p>
                    <p id="total" class="f-500">&#8377;</p>
                    <h4 id="balance-due" class="f-500">&#8377;</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://localhost:8080/InNoice/static/invoice.js"></script>
<jsp:include page="/components/down.html" />