<jsp:include page="/components/top.jsp">
    <jsp:param name="pageName" value="Login"/>
</jsp:include>
<div class="full-height d-flex align-items-center justify-content-center">
    <form id="login-form" class="col-3 rounded-4 p-4 border border-2">
        <h1 class="f-600 text-blue">InNoice</h1>
        <h6>Send and maintain invoices seamlessly</h6>
        Email <span class="text-danger">*</span>
        <input type="email" class="form-control" name="email" required>
        <br>
        Password <span class="text-danger">*</span>
        <input type="password" class="form-control" name="password" required>
        <br>
        <div class="d-flex">
            <a href="/InNoice/signup">New user?</a>
            <button type="submit" class="btn btn-success ms-auto">Take me in</button>
        </div>
    </form>
</div>
<script src="static/login.js"></script>
<jsp:include page="/components/down.html" />