<jsp:include page="/components/top.jsp">
    <jsp:param name="pageName" value="New Invoice"/>
</jsp:include>
<div class="row full-height overflow-auto">
    <input type="hidden" id="user-id" value=<%= session.getAttribute("userId") %> >
    <jsp:include page="/components/side-nav.html" />
        <form id="new-invoice-form" class="col-10 h-100 overflow-auto p-4">
            <h3 class="f-700">New Invoice</h3>
            <div class="col-6">
                Customer <span class="text-danger">*</span>
                <select id="select-customer" class="form-select" name="customerId" required>
                    <option value="0">Select customer</option>
                </select>
                <br>
                Invoice date <span class="text-danger">*</span>
                <input type="date" name="invoiceDate" class="form-control" required>
                <br>
                <!-- Terms <span class="text-danger">*</span>
                <select class="form-select" required>
                    <option>Net 15</option>
                    <option>Net 30</option>
                    <option>Net 45</option>
                    <option>Net 60</option>
                    <option>Due end of the month</option>
                    <option>Due end of the next month</option>
                    <option>Due on receipt</option>
                    <option>Custom</option>
                </select>
                <br> -->
                Due date <span class="text-danger">*</span>
                <input type="date" name="dueDate" class="form-control" required>
            </div>
            <br><br>
            <h5 class="f-600">Products' details</h5>
            <table class="table table-bordered">
                <thead>
                    <th class="col-3">Name</th>
                    <th class="col-2">Quantity</th>
                    <th class="col-3">Price per unit</th>
                    <th class="col-2">Discount</th>
                    <th class="col-3">Amount</th>
                </thead>
                <tbody id="products-table">
                    <tr>
                        <td>
                            <select data-index="0" id="select-product-0" class="form-select select-product" onchange="setProductDetails(event.target)" required>
                                <option data-id="-1" value="-1">Select product</option>
                            </select>
                        </td>
                        <td><input data-index="0" id="product-quantity-0" type="number" class="form-control" value="1" onchange="changeQuantity(event.target)" required></td>
                        <td><input data-index="0" id="product-price-0" type="number" class="form-control" value="0" onchange="changePrice(event.target)" required></td>
                        <td><input data-index="0" id="product-discount-0" type="number" class="form-control" value="0" onchange="changeDiscount(event.target)" required></td>
                        <td id="product-amount-0">0</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex">
                <button id="add-product-btn" type="button" class="btn btn-outline-secondary ms-auto">Add product</button>
            </div>
            <br>
            <div class="d-flex">
                <div class="col-4">
                    Notes <span class="text-danger">*</span> 
                    <textarea name="notes" class="form-control" rows="3" >Thank you for doing business with us</textarea>
                </div>
                <div class="col-1 ms-auto">
                    <h6 class="text-end text-secondary">Sub total</h6>
                    <h6 class="text-end text-secondary mt-2">Adjustments</h6>
                    <h6 class="text-end text-secondary mt-2">Shipping charges</h6>
                    <h4 class="text-end f-600 mt-3">Total</h4>
                </div>
                <div class="col-2 text-end">
                    <h6 id="sub-total" class="text-secondary">0</h6>
                    <div class="d-flex">
                        <input type="number" name="adjustments" onchange="changeAdjustments(event.target)" class="form-control form-control-sm w-50 ms-auto" value="0">
                    </div>
                    <div class="d-flex mt-1">
                        <input type="number" name="shippingCharges" onchange="changeShippingCharges(event.target)" class="form-control form-control-sm w-50 ms-auto" value="0">
                    </div>
                    <h4 id="total" class="f-600 mt-3">0</h4>
                </div>
            </div>
            <br>
            <div class="col-6">
                Terms and conditions <span class="text-danger">*</span>
                <textarea name="termsAndConditions" class="form-control" rows="3">Please make your payment within the due date mentioned</textarea>
            </div>
            <div class="d-flex">
                <button id="cancel-new-invoice-btn" type="button" class="btn btn-secondary ms-auto">Cancel</button>
                <button type="submit" class="btn btn-success ms-2">Create</button>
            </div>
        </form>
</div>
<script src="http://localhost:8080/InNoice/static/new-invoice.js"></script>
<jsp:include page="/components/down.html" />