<jsp:include page="/components/top.html" />
<div class="row full-height overflow-auto">
    <jsp:include page="/components/side-nav.html" />
    <div class="col-10 p-4">
        <h3 class="f-700">New Product</h3>
        <form id="new-product-form" class="mt-2 col-6">
            Name <span class="text-danger">*</span>
            <input type="text" class="form-control" name="name" required>
            <br>
            Unit <span class="text-danger">*</span>
            <select class="form-select" name="unit" required>
                <option>pcs</option>
                <option>kgs</option>
                <option>litres</option>
            </select>
            <br>
            Price per unit <span class="text-danger">*</span>
            <input type="number" class="form-control" name="price">
            <br>
            <div class="d-flex">
                <button id="cancel-new-product-btn" class="btn btn-secondary ms-auto">Cancel</button>
                <button type="submit" class="btn btn-success ms-2">Add</button>
            </div>
        </form>
    </div>
</div>
<script>
    $("#cancel-new-product-btn").click(() => {
        history.back();
    });

    const newProductForm = document.getElementById("new-product-form");

    newProductForm.addEventListener("submit", e => {
        e.preventDefault();

        const formData = new FormData(newProductForm);
        const requestData = {
            name: formData.get('name'),
            unit: formData.get('unit'),
            price: formData.get('price'),
            userId: 17
        }

        axios.post("http://localhost:8080/InNoice/api/products", requestData)
            .then(({data}) => {
                var message;
                if (data === 1) {
                    message = "Product added successfully";
                    window.location.href = "/InNoice/products";
                } else {
                    message = "Something went wrong";
                }
                alert(message);
            })
            .catch(e => {
                alert(e.message);
            });
    });
</script>
<jsp:include page="/components/down.html" />