<jsp:include page="/components/top.jsp">
    <jsp:param name="pageName" value="Payment"/>
</jsp:include>
<div class="p-5">
    <div class="border pb-5">
        <div class="border-bottom px-3 py-2">
            <h3 id="company-name" class="f-600"></h3>
            <p id="company-address" class="mt-2 text-secondary"></p>
        </div>
        <h3 id="company-name" class="f-600 text-secondary text-decoration-underline text-center mt-5">PAYMENT RECEIPT</h3>
        <div class="mt-5 row pb-4">
            <div class="col-3 text-secondary pt-3">
                <p>Payment Date</p>
                <p>Payment#</p>
            </div>
            <div class="col-6 f-500 pt-3">
                <p id="payment-date" class="border-bottom"></p>
                <p id="payment-id" class="border-bottom"></p>
            </div>
            <div class="col-3 bg-success text-center text-white h-100 p-4">
                <p>Amount Received</p>
                <h2 class="payment-amount">&#8377;</h2>
            </div>
        </div>
        <div class="bg-lgray border-bottom border-top px-3 py-2 mt-5">
            <p class="f-500 mb-0">Bill To</p>
        </div>
        <div class="px-3 pt-2 border-bottom pb-5">
            <h4 id="customer-name" class="f-600"></h4>
            <p id="customer-address" class="mb-0 text-secondary"></p>
        </div>
        <h3 class="px-3 py-2 f-600">Payment for</h3>
        <table class="table border-top mb-5">
            <thead class="bg-lgray">
                <th class="col-3">Invoice#</th>
                <th class="col-3">Invoice Date</th>
                <th class="col-3">Invoice Amount</th>
                <th class="col-3">Payment Amount</th>
            </thead>
            <tbody>
                <tr>
                    <td id="invoice-id"></td>
                    <td id="invoice-date"></td>
                    <td id="invoice-amount">&#8377;</td>
                    <td class="payment-amount">&#8377;</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="http://localhost:8080/InNoice/static/payment.js"></script>
<jsp:include page="/components/down.html" />