<jsp:include page="/components/top.jsp">
    <jsp:param name="pageName" value="Payments Received"/>
</jsp:include>
<div class="row full-height overflow-auto">
    <input type="hidden" id="user-id" value=<%= session.getAttribute("userId") %> >
    <jsp:include page="/components/side-nav.html" />
    <div class="col-10 p-4">
        <div class="d-flex">
            <h3 class="f-700">Payments Received</h3>
        </div>
        <table class="table table-hover mt-2">
            <thead>
                <tr>
                  <th>Date</th>
                  <th>Payment#</th>
                  <th>Invoice#</th>
                  <th>Customer</th>
                  <th>Amount</th>
                  <th>Actions</th>
                </tr>
            </thead>
            <tbody id="payments-table" class="data-table">
            </tbody>          
        </table>
        <jsp:include page="/components/edit-payment-modal.html" />
        <jsp:include page="/components/delete-payment-modal.html" />
    </div>
</div>
<script src="static/payments-received.js"></script>
<jsp:include page="/components/down.html" />