<jsp:include page="/components/top.jsp">
    <jsp:param name="pageName" value="Products"/>
</jsp:include>
<div class="row full-height overflow-auto">
    <input type="hidden" id="user-id" value=<%= session.getAttribute("userId") %> >
    <jsp:include page="/components/side-nav.html" />
    <div class="col-10 p-4">
        <div class="d-flex">
            <h3 class="f-700">Products</h3>
            <button id="new-product-page-btn" class="btn btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#exampleModal2">New</button>
        </div>
        <table class="table table-hover mt-2">
            <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Unit</th>
                  <th scope="col">Prize</th>
                  <th scope="col">Total sales</th>
                  <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="products-table" class="data-table">
            </tbody>          
        </table>
        <jsp:include page="/components/new-product-modal.html" />
        <jsp:include page="/components/edit-product-modal.html" />
        <jsp:include page="/components/delete-product-modal.html" />
    </div>
</div>
<script src="static/products.js"></script>
<jsp:include page="/components/down.html" />