<jsp:include page="/components/top.jsp">
    <jsp:param name="pageName" value="Signup"/>
</jsp:include>
<div class="full-height d-flex align-items-center justify-content-center">
    <form id="signup-form" class="col-4 rounded-4 p-4 border border-2">
        <h1 class="f-600 text-blue">InNoice</h1>
        <h6>Sign up</h6>
        Name <span class="text-danger">*</span>
        <input type="text" class="form-control" name="name" required>
        <br>
        Email <span class="text-danger">*</span>
        <input type="email" class="form-control" name="email" required>
        <br>
        Company name <span class="text-danger">*</span>
        <input type="text" class="form-control" name="companyName" required>
        <br>
        Address <span class="text-danger">*</span>
        <textarea class="form-control" name="address" rows="3"></textarea>
        <br>
        Contact <span class="text-danger">*</span>
        <input type="tel" class="form-control" name="contact" required>
        <br>
        Password <span class="text-danger">*</span>
        <input type="password" class="form-control" name="password" required>
        <br>
        Confirm password <span class="text-danger">*</span>
        <input type="password" class="form-control" name="confirmPassword" required>
        <br>
        <div class="d-flex">
            <a href="/InNoice/login">Back to login</a>
            <button type="submit" class="btn btn-success ms-auto">I'm in</button>
        </div>
    </form>
</div>
<script src="static/post-requests.js"></script>
<jsp:include page="/components/down.html" />