<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true">
    <div class="modal-dialog">
        <form id="edit-customer-form" class="modal-content">
            <div class="modal-header">
                <h3 class="f-700 modal-title">Edit Customer</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="edit-id" type="hidden" name="id">
                <input id="edit-user-id" type="hidden" name="userId">
                Name <span class="text-danger">*</span>
                <input id="edit-name" type="text" class="form-control" name="name" required>
                <br>
                Email <span class="text-danger">*</span>
                <input id="edit-email" type="email" class="form-control" name="email" required>
                <br>
                Address <span class="text-danger">*</span>
                <textarea id="edit-address" class="form-control" name="address" rows="3"></textarea>
                <br>
                Contact <span class="text-danger">*</span>
                <input id="edit-contact" type="tel" class="form-control" name="contact" required>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>