<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModal3Label" aria-hidden="true">
    <div class="modal-dialog">
        <form id="edit-product-form" class="modal-content">
            <div class="modal-header">
                <h3 class="f-700 modal-title">Edit Product</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="edit-id" type="hidden" name="id">
                <input id="edit-user-id" type="hidden" name="userId">
                Name <span class="text-danger">*</span>
                <input id="edit-name" type="text" class="form-control" name="name" required>
                <br>
                Unit <span class="text-danger">*</span>
                <select id="edit-unit" class="form-select" name="unit" required>
                    <option>pcs</option>
                    <option>kgs</option>
                    <option>litres</option>
                </select>
                <br>
                Price per unit <span class="text-danger">*</span>
                <input id="edit-price" type="number" class="form-control" name="price">
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>