<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="new-customer-form" class="modal-content">
            <div class="modal-header">
                <h3 class="f-700 modal-title">New Customer</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Name <span class="text-danger">*</span>
                <input type="text" class="form-control" name="name" required>
                <br>
                Email <span class="text-danger">*</span>
                <input type="email" class="form-control" name="email" required>
                <br>
                Address <span class="text-danger">*</span>
                <textarea class="form-control" name="address" rows="3"></textarea>
                <br>
                Contact <span class="text-danger">*</span>
                <input type="tel" class="form-control" name="contact" required>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>