<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <form id="new-product-form" class="modal-content">
            <div class="modal-header">
                <h3 class="f-700 modal-title">New Product</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Name <span class="text-danger">*</span>
                <input type="text" class="form-control" name="name" required>
                <br>
                Unit <span class="text-danger">*</span>
                <select class="form-select" name="unit" required>
                    <option>pcs</option>
                    <option>kgs</option>
                    <option>litres</option>
                </select>
                <br>
                Price per unit <span class="text-danger">*</span>
                <input type="number" class="form-control" name="price">
                <br>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>