<div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModal8Label" aria-hidden="true">
    <div class="modal-dialog">
        <form id="record-payment-form" class="modal-content">
            <div class="modal-header">
                <h3 class="f-700 modal-title">Record Payment</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="col-6 p-0">
                        <p class="text-secondary">Invoice#:</p>
                        <p class="text-secondary">Customer:</p>
                        <p class="text-secondary">Invoice Date:</p>
                        <p class="text-secondary">Due Date:</p>
                        <p class="text-secondary">Amount:</p>
                        <p class="text-secondary">Balance Due:</p>
                    </div>
                    <div class="col-6 p-0">
                        <p id="invoice-id"></p>
                        <p id="invoice-customer"></p>
                        <p id="invoice-date"></p>
                        <p id="due-date"></p>
                        <p id="invoice-amount"></p>
                        <p id="invoice-due"></p>
                    </div>
                </div>
                <input type="hidden" name="invoice-id" id="paid-invoice-id">
                Payment date <span class="text-danger">*</span>
                <input type="date" class="form-control" name="payment-date" required>
                <br>
                Payment amount <span class="text-danger">*</span>
                <input type="number" class="form-control" name="payment-amount" required>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Record</button>
            </div>
        </form>
    </div>
</div>