<nav class="nav flex-column h-100 col-2 bg-gray pe-0">
    <h3 class="text-blue f-600 m-3"><i class="fa-solid fa-file-invoice-dollar"></i> InNoice</h3>
    <hr class="text-white m-0">
    <a class="nav-link text-white mt-2 py-3" href="/InNoice/customers"><i class="fa-solid fa-people-group"></i> Customers</a>
    <a class="nav-link text-white py-3" href="/InNoice/products"><i class="fa-solid fa-shapes"></i> Products</a>
    <a class="nav-link text-white py-3" href="/InNoice/invoices"><i class="fa-solid fa-file-invoice"></i> Invoices</a>
    <a class="nav-link text-white py-3" href="/InNoice/payments-received"><i class="fa-solid fa-money-bill-1-wave"></i> Payments Received</a>
    <button class="btn btn-danger w-100 mt-auto" data-bs-toggle="modal" data-bs-target="#exampleModal6"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</button>

    <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModal6Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="f-700 modal-title">Logout</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="logout-btn" type="submit" class="btn btn-danger">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="http://localhost:8080/InNoice/static/logout.js"></script>
</nav>