* {
    font-family: 'Inter', sans-serif;
    /* background-color: #393E46;
    color: #EEEEEE; */
}

/* a {
    color: #A6E3E9;
} */

textarea {
    resize: none;
}

.f-400 {
    font-weight: 400;
}

.f-500 {
    font-weight: 600;
}

.f-600 {
    font-weight: 600;
}

.f-700 {
    font-weight: 700;
}

.full-height {
    height: 100vh;
}

.text-blue {
    color: #00ADB5;
}